* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
}

header {
    max-height: 500px;
}

#tourType--selected {
    color:#0066FF;
}

.header_menu {
    margin-left: 300px;
}

.header_menu a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}

.header_menu ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.header_menu ul li {
    display: inline-block;
}

.header_menu ul li:hover {
    color: #0047FF;
}

.header_menu ul li:hover ul {
    display: block;
}

.header_menu ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

.header_menu ul li ul li {
    background: white;
    display: block;
}

.header_menu ul li ul li a {
    display: block !important;
    margin: 1px 0px 1px 0px;
}

.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
}

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

iframe{
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  #overlay-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

#logo_uitour {
    position: absolute;
    left: 10rem;
    top: 0.7rem;
}

#logo_header {
    width: 100%;
    height: 439px;
    object-fit: fill;
}

#h_p1 {
    position: absolute;
    color: white;
    font-size: 4em;
    top: 2.5em;
    left: 15em;
    padding-right: 2em;
    border-bottom: 5px solid white;
}

#h_p2 {
    position: absolute;
    color: white;
    font-size: 3em;
    width: 40%;
    top: 5em;
    left: 20em;
}

#h_link {
    position: absolute;
    border: 2px solid white;
    font-size: 2em;
    padding: 5px;
    top: 11.5em;
    left: 30em;
}

#h_link a {
    text-decoration: none;
    color: white;
}

#h_link a:active {
    color: rgb(57, 57, 247);
    background-color: rgb(235, 235, 255);
}

.Header__title {
    width: 1300px;
    height: 176px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    bottom: 180px;
}

.Header__title--p {
    font-size: 36px;
    z-index: 3;
    color: white;
    position: absolute;
    top: 25px;
    left: 26px;
}

.Header__title--layer {
    background-color: #000000;
    opacity: 60%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.searchBar {
    display: flex;
    width: 1146px;
    height: 96px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 80px;
}

.searchBar__location {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 96px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
}

.searchBar__location--input {
    display: flex;
}
#location__input {
    border: none;
    outline: none;
}


.searchBar__date {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 86px;
    flex: 2;
    background-color: white;
    border-right: 1px solid #DEDEDE;
    text-align: center;
    padding-top: 10px;
}

.searchBar__date--input {
    display: flex;
    margin-left: 48px;
}


.searchBar__date p {
    margin-top: 10px;
}

.searchBar__date--input input {
    border: none;
    padding-top: 10px;
}

.searchBar__date--input input {
    outline: none;
}

.number_box-decor {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 25px;
    display: none;
}

.number_box-decor.active {
    display: block;
}

.treemPlus {
    margin-left: 20px;
}

.searchBar__tour {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 76px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#tour__input {
    margin-top: 7px;
    border: none;
    outline: none;
    width: 120px;
}

.searchBar__tour--input {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.searchBar__button {
    width: 163.72px;
    height: 96px;
    flex: 1;
    background-color: #3FD0D4;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.searchBar__location--img {
    margin-right: 20px;
    width: 30px;
}

.searchBar__date--img {
    margin-right: 20px;
    width: 30px;
}

.searchBar__tour--img {
    margin-right: 20px;
    width: 30px;
}

.autobox {
    position: absolute;
    top: 100px;
    width: 200px;
    position: absolute;
    background-color: #FFFEFE;
    color: rgba(51, 51, 51, 0.8);
    overflow-y: auto;
    box-shadow: 3px 7px 8px #dedede;
}

.autobox li {
    list-style: none;
    padding: 6px 0 6px 36px;
    cursor: pointer;
    width: 60%;
    display: none !important;
    margin-left: 10px;
}

.autobox li:hover {
    color: #0066FF;
    /* border-bottom: 1px solid #0066FF; */
}
.autobox.active li {
    display: block !important;
}

.number-box {
    position: absolute;
    top: 100px;
    width: 250px;
    position: absolute;
    background-color: #FFFEFE;
    color: rgba(51, 51, 51, 0.8);
    overflow-y: auto;
    box-shadow: 3px 7px 8px #dedede;
}

.treemMinus {
    cursor: pointer;
}

.treemPlus {
    cursor: pointer;
}

.number-box li {
    list-style: none;
    padding: 6px 0 6px 36px;
    cursor: pointer;
    width: 60%;
    display: none !important;
    margin-left: 10px;
}

#decor_number_box {
    display: flex;
    justify-content: space-between;
}

.number-box.active li:hover {
    display: flex !important;
}

.number-box.active li {
    display: flex !important;
}

.fa-times {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.tourType {
    display: flex;
    width: 1000px;
    font-size: 24px;
    margin-left: 93px;
    margin-bottom: 84px;
}

.tourType button {
    flex: 1;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.aTour {
    display: flex;
    position: relative;
    width: 1440px;
    height: 470px;
    margin-left: 50px;
    border-bottom: 1px solid black;

}

#aTour__image--tour {
    width: 490px;
    height: 425px;
    position: absolute;
    left: 30px;
}

#aTour__image--tag {
    width: 166px;
    height: 63px;
    position: absolute;
    top: 390px;
    left: 30px;
}




.aTour__infor--tittle {
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0060F1;
    cursor: pointer;
}

.aTour__infor--departure {
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.aTour__infor--detail {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}

.aTour__infor {
    position: absolute;
    left: 550px;
    top: 30px;
    width: 547px;
    height: 424px;
    text-align: center;
}

.aTour__infor--tittle, .aTour__infor--departure {
    margin-bottom: 50px;
}



.aTour_box {
    position: absolute;
    right: 49px;
}

.aTour_box--price {
    width: 266px;
    height: 84px;
    background-color: #EEB700;
    margin-top: 30px;
}

.aTour_box--price p {
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 30px;
}

.aTour_box--departDate, .aTour_box--backDate {
    display: flex;
    width: 228px;
    height: 58px;
    border: 1px solid black;
    font-size: 24px;
    position: relative;
    margin-top: 30px;
    margin-left: 19px;
}

.aTour_box--departDate img, .aTour_box--backDate img {
    position: absolute;
    margin-left: 14px;
    margin-top: 12px;
}

.aTour_box--departDate p, .aTour_box--backDate p {
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;
}


.aTour_box--viewMore button {
    color: #2887A9;
    font-size: 24px;
    border: none;
    width: 166px;
    height: 66px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
}

.aTour_box--viewMore button a {
    text-decoration: none;
}
.aTour_box--viewMore button a:visited {
    text-decoration: none;
    color: #2887A9;
}
.aTour_box--viewMore button a:active {
    text-decoration: none;
    color: #2887A9;
}
.aTour_box--viewMore button a:link {
    text-decoration: none;
    color: #2887A9;
}
.aTour_box--viewMore button a:hover {
    text-decoration: none;
    color: #2887A9;
}

.hidden {
    display: none;
}

.tourType button:hover {
    color: #8bb4d6;
}

.tourType button:active {
    color: aqua;
}