* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
}
header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.header_menu {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#header_menu__nav {
    margin-left: 300px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: -3px;
}
#logo_header {
    width: 1520px;
}

/* header menu ipad */
.header_menu--ipad {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
 #header_menu__nav--ipad {
    margin-left: 10px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu--ipad a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu--ipad a:hover {
    color: #0047FF;
}
.header_menu--ipad ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu--ipad  ul li {
    display: inline-block;
}
.header_menu--ipad  ul li:hover {
    color: #0047FF;
}
.header_menu--ipad  ul li:hover ul {
    display: block;
}
.header_menu--ipad  ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu--ipad  ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu--ipad ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

.header_menu--ipad #sign_in {
    font-size: 15px;
    margin-left: 1em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.header_menu--ipad #sign_in:hover{
    color: #484848;
}

.header_menu--ipad #sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header_menu {
        display: none;
    }
    
}
@media only screen and (min-width: 768px) {
    .header_menu--ipad {
        display: none;
    }
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: -3px;
}
#logo_header {
    width: 100%;
}
#domestic_hotel {
    margin-top: 2px;
}

#header_hotel {
    border-bottom: 3px solid #0074FF;
    color: #0047FF;
}
#header_hotel--ipad {
    border-bottom: 3px solid #0074FF;
    color: #0047FF;
}
@media only screen and (max-width: 768px) {
    .div_domesticHotel--ipad {
        position: absolute;
        background-color: black;
        opacity: 0.7;
        width: 600px;
        left: 10%;
        top: 140px;
        height: 80px;
    }
    #tag_domesticHotel--ipad {
        position: absolute;
        color: white;
        font-size: 36px;
        top: 160px;
        left: 15%;
    }
    
    .div_domesticHotel {
        display: none;
    }
    #tag_domesticHotel {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .div_domesticHotel {
        position: absolute;
        background-color: black;
        opacity: 0.7;
        width: 1300px;
        left: 7.5%;
        top: 296px;
        height: 150px;
    }
    #tag_domesticHotel {
        position: absolute;
        color: white;
        font-size: 36px;
        top: 320px;
        left: 150px;
    }
    
    .div_domesticHotel--ipad {
        display: none;
    }
    #tag_domesticHotel--ipad {
        display: none;
    }
    
}

main {
    position: relative;
    width: 1520px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin: 50px 0px 20px 80px
}
#content-down {
    display: inline-flex;
    margin-left: 80px;
    margin-bottom: 10px;
}
#content-down img {
    height: 20px;
}
#content-down p {
    font-size: 18px;
    color: #04AB8D;
    margin-left: 40px;
}
#hotel__content--point {
    background-color: #51DDC4;
    padding: 2px 8px 2px 8px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 20px;
}
#hotel__content--location-logo {
    display: block;
    height: 20px;
    margin-left: 80px;
}
#hotel__content--location {
    font-size: 18px;
    color: blue;
    margin-left: 110px;
    margin-top: -18px;
}
.grid-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 260px;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.grid-container img {
    width: 100%;
    height: 100%;
}
#item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.tag-convenient {
    font-size: 36px;
    margin-left: 120px;
    padding: 10px;
}
.convenient {
    margin: 10px 0px 10px 150px;
}
.convenient img {
    margin-left: 35px;
}

.convenient p {
    font-size: 24px;
    
}
#convenient1 {
    position: relative;
}
#convenient2 {
    position: absolute;
    margin-top: -72px;
    left: 180px;
}
#convenient3 img {   
    margin-left: 10px;
}
#convenient3 {   
    position: absolute;
    margin-top: -86px;
    left: 350px;
}
#convenient4 img {   
    margin-left: 7px;
}
#convenient4 {   
    position: absolute;
    margin-top: -92px;
    left: 470px;
}
#convenient5 img {   
    margin-left: 3px;
}
#convenient5 {   
    position: absolute;
    margin-top: -81px;
    left: 610px;
}
#convenient6 img {   
    margin-left: 10px;
}
#convenient6 {   
    position: absolute;
    margin-top: -75px;
    left: 750px;
}
.tag-infomation {
    font-size: 36px;
    margin: 20px 0px 50px 120px;
    padding: 10px;
}
#tag-infomation {
    font-size: 24px;
    margin-top: -15px;
    max-width: 1250px;
}
.wapper__content__nav button {
    border: none;
    background-color: #EAEDF0;
    cursor: pointer;
    width: 281px;
    height: 52px;
    border-radius: 10px;
    font-size: 24px;
    transition: color 0.3s;
    transition-timing-function: ease-in;
}

.wapper__content__nav button:hover {
    color: #FB7311;
}

#wapper__content__nav--selected {
    border: solid 3px Black;
    color: #FB7311;
}

.wapper__content--hr {
    height: 3px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
}
.wapper__content--content {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.5;
    max-width: 930px;
}
.wapper__hidden__content {
    display: none;
}
.wapper__content {
    max-width: 1293px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.room {
    width: 1100px;
    height: 300px;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(244, 244, 244, 0.231);
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 80px;
}
.grid-room {
    margin-left: 20px;
    padding-top: 20px;
    gap: 10px;
    width: 270px;
    height: 250px;
    display: grid;
}
.grid-room img {
    width: 100%;
    height: 100%;
}
#grid-room__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.room-content {
    margin-top: -250px;
    margin-left: 320px;
}
.room-content h3 {
    font-size: 24px;
}
#room-content__icon1 p {
    margin-left: 30px;
    margin-top: -30px;
}
#room-content__icon1 {
    padding-top: 10px;
}
#room-content__icon2 {
    margin-left: 120px;
    margin-top: -20px;
}
#room-content__icon2 p {
    margin-left: 35px;
    margin-top: -25px;
}
#room-content__content {
    margin-top: 10px;
    margin-left: 20px;
}
#room-content__content ul {
    list-style-type:circle ;
}
#room-content__content ul li {
    padding: 10px;
}
#room-content__room {
    margin-left: 430px;
    margin-top: -220px;
    width: 150px;
    height: 200px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#room-content__room1 {
    padding-top: 20px;
    margin-left: 50px;
}
#room-content__room1 p {
    margin-left: -20px;
}
#room-content__room2 {
    padding-top: 20px;
    margin-left: 45px;
}
#room-content__room2 p {
    margin-left: -20px;
}
#book-room {
    margin-left: 590px;
    margin-top: -170px;
}
#book-room p {
    font-size: 24px;
}
#book-room a {
    text-decoration: none;
}
#book-room #book-room__datphong {
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
    padding: 10px;
    width: 90px;
    border-radius: 10px;
    background-color: #EEB700;
}
#chinhsach {
    margin-bottom: 20px;
}
#chinhsach p {
    margin-top: -35px;
    margin-left: 400px;
}







.danhgiachung {
    max-width: 935px;
    height: 419px;
    position: relative;
    margin-top: 60px;
}

.danhgia__title {
    width: 507px;
    height: 45px;
    background-color: #FEC400;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    position: absolute;
    left: 20%;
    top: -6%;
}

.danhgia__voting {
    border: 1px solid black;
    border-radius: 31px;
    height: 394px;
    display: flex;
    box-sizing: border-box;
}

.dalat_danhgia_hihi {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 600px;
}

#dalat_danhgia {
    width: 258px;
    height: 258px;
    margin: auto auto auto 0;
    margin-left: 5%;
}

.hihiandhehe {
    position: absolute;
}

.voting {
    width: 527px;
    height: 19px;
    background-color: #C4C4C4;
    margin: 20px 0px 20px 0px;
}

.full__voting {
    background-color: #FEC400;
}

.count_voting {
    background-color: #FEC400;
    width: 130px;
    height: 51px;
    border-radius: 10px;
    font-size: 18;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 620px;
}

#fivesao_img {
    width: 221px;
    height: auto;
    position: absolute;
    top: -20px;
}

.count_voting p {
    padding: 15px;
}

.dalat_danhgia_hehe {
    padding-top: 130px;
    padding-left: 370px;
}

.dalat_danhgia_hihi {
    top: 0;
    padding-left: 480px;
}

.huhu {
    position: relative;
    left: -40px;
}

.dalat_danhgia_hihi .huhu {
    top: 83px;
    left: -130px;
}

.danhgiachung__comment {
    width: 936px;
    height: 176px;
    position: relative;
    box-sizing: border-box;
}

.danhgiachung__comment__infor {
    position: absolute;
    width: 100%;
    height: 100%;
}

.danhgiachung__comment__infor p {
    position: absolute;
}

.fivesao_img--local {
    position: absolute;
    top: -105px !important;
    left: 200px;
}

.danhgiachung__comment__content {
    position: absolute;
    bottom: 0;
    border: 1px solid;
    border-radius: 10px;
    width: 936px;
    height: auto;
    padding: 20px;
    bottom: 50px;
}

.btn_insert {
    width: 935px;
    display: flex;
    justify-content: space-around;
}

.btn_insert button {
    border: none;
    background-color: #F3D100;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
}


footer h2{
    font-size: 1.5em;
    
}

footer {
  max-width: 100%;
  height: auto;
  letter-spacing: 0.1em;
  position: relative;
  font-size: 20px !important;
}

footer .transparent-shape{
    width: 100%;
    height: 484px;
    background: #363131;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

footer .content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: rgb(238, 234, 234);
    display: grid;
    grid-template-columns: 20% 20% 10% 26%;
    justify-content: space-evenly;
    grid-row-gap: 100px;
    background: #363131;
}

footer .content .information>h2, .working-time>h2, .support>h2{
    margin: 10px auto;
}

#information, #working-time, #contact, #support{
    width: 100%;
}

footer .content .information>p, .working-time>p, .support>p{
    margin: 10px auto;
   line-height: 1.2em;
}


footer .content .contact p{
    margin: 10px auto;
}

footer .ti-location-pin, .ti-mobile, .ti-email{
    font-size: 1.5em;
    float: left;
    margin: 10px;
}

footer .content .contact>p{
    float: left;
}

footer .contact>hr{
    height: 2px;
    max-width: 100%;
    background-color: rgb(238, 234, 234);
    margin: 20px auto;
}

footer .icon{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

footer .ti-facebook, .ti-google, .ti-linkedin{
    
    position: relative;
    top: 10px;
}

#copyright {
  max-width: 100%;
  color: rgb(238, 234, 234);
  position: relative;
  padding: 20px 0 20px 100px;
  z-index: 1;
  grid-column: 1/5;
}

@media only screen and (max-width: 768px){
  footer .content{
      display: grid;
      grid-template-columns: 40% 40%;
      grid-row-gap: 50px;
  }

  footer .transparent-shape{
      height: 900px;
  }
  
  #information , #working-time , #support , #contact {
      width: 100%;
  }

  footer .content .contact>p{
      float: none;
  }

  #copyright{
     top: 0;
      grid-column: 1/3;
  }
}


iframe{
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  #overlay-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
