* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
}
.header_menu {
    margin-left: 300px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}
.header_menu a:hover {
    color: #0047FF;
}
.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 
#domestic_hotel {
    margin-top: 2px;
}
#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

iframe{
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  #overlay-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: 0.7rem;
}
#logo_header {
    width: 100%;
}

#header_hotel {
    border-bottom: 3px solid #0074FF;
    color: #0047FF;
}
.div_domesticHotel {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    width: 85%;
    left: 7.5%;
    top: 296px;
    height: 150px;
}
#tag_domesticHotel {
    position: absolute;
    color: white;
    font-size: 36px;
    top: 320px;
    left: 10%;
}
.searchBar {
    display: flex;
    width: 1146px;
    height: 96px;
    box-shadow: 3px 7px 8px #dedede;
    position: absolute;
    top: 53.3%;
    left: 12%;
}

.searchBar img {
    width: 36px;
    height: 36px;
}
.searchBar__location {
    display: flex;
    width: 300px;
    height: 96px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
}

.searchBar__date {
    display: flex;
    width: 300px;
    height: 96px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
}

.searchBar__tour {
    display: flex;
    width: 300px;
    height: 96px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
}

.searchBar__button {
    width: 163.72px;
    height: 96px;
    flex: 1;
    background-color: #3FD0D4;
    color: white;
    font-weight: bold;
    border: none;
}

.searchBar__location--img {
    margin-right: 20px;
}

.searchBar__date--img {
    margin-right: 20px;
}

.searchBar__tour--img {
    margin-right: 20px;
}

#tag_favorite {
    margin-top: 100px;
    padding: 10px 0px 0px 50px;
    margin-left: 70px;
    font-size: 48px;
}
#tag_favorite--content {
    margin-left: 70px;
    font-size: 24px;
    padding: 10px 0px 0px 50px;
}

.grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 230px;
    gap: 40px;
    margin-top: 40px;
}
.grid-container p {
    position: absolute;
    color: white;
    margin-top: 130px;
    font-size: 48px;
    margin-left: 20px;
}
.grid-container span {
    font-size: 24px;
    vertical-align: top;
}
.grid-container img {
    width: 100%;
    height: 100%;
}
#item1 {
    grid-column: 1 / 3;
}
#item2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
#item2 p {
    margin-top: 415px;
}

#tag_hotel {
    margin-top: 40px;
    padding: 10px 0px 0px 50px;
    margin-left: 70px;
    font-size: 48px;
}
#tag_hotel--content {
    margin-left: 70px;
    font-size: 24px;
    padding: 10px 0px 0px 50px;
}
#sort {
    width: 140px;
    height: 55px;
    background-color: #10CFF9;
    text-align: center;
    font-size: 24px;
    padding-top: 24px;
    margin-left: 150px;
    margin-top: 20px;
}

.button_content {
    margin-left: 330px;
    margin-top: -100px;
}
.button_content button {
    font-size: 24px;
    text-align: center;
    height: 80px;
    background-color: #F5F5F5;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.button_content button:hover {
    color: #0D8BFF;
}
#button_content__selected {
    border: 3px solid #3FBAFF;
    color: #0D8BFF;
}
.wrapper_content--hidden {
    display: none;
}

.hotel {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    background-color: rgba(255, 183, 38, 0.5);
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 4px 20px #e2e2e2;
    position: relative;
}
.hotel p {
    font-size: 24px;
    color: #FF3D00;
    padding: 20px;
}
.hotel img {
    width: 360px;
    height: 270px;
    padding: 5px;
}
.hotel__content {
    display: inline-block;
}
#hotel__content--center {
    height: 270px;
    width: 600px;
    background-color: #F1F7F8;
    position: absolute;
    bottom: 7.5px;
    margin-left: -10px;
}
#hotel__content--center h3 {
    font-size: 32px;
    padding: 10px;
}
#hotel__content--center img {
    height: 20px;
    position: absolute;
    margin-left: -100px;
    margin-top: -10px;
}
#hotel__content--center p {
    font-size: 18px;
    color: #04AB8D;
    position: absolute;
    left: 250px;
    margin-top: -25px;
}
#hotel__content--center #hotel__content--point {
    top: 75px;
    margin-left: -60px;
    background-color: #51DDC4;
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
    text-align: center;
    color: black;
    font-size: 18px;
}
#hotel__content--location-logo {
    top: 90px;
    left: -50px;
}
#hotel__content--center #hotel__content--location  {
    top: 90px;
    color: blue;
    left: 40px;
}
#hotel__content--center #hotel__content--highlight1 {
    top: 150px;
    left: 30px;
    color: black;
    border: 1px solid rgba(68, 68, 68, 0.514);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
#hotel__content--center #hotel__content--highlight2 {
    top: 150px;
    left: 260px;
    color: black;
    border: 1px solid rgba(68, 68, 68, 0.514);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
#hotel__content--center #hotel__content--highlight-star {
    color: black;
    bottom: 30px;
    left: 90px;
    background-color: white;
    padding: 5px;
}
#hotel__content--center #hotel__content--highlight-star img {
    height: 31px;
    width: 40px;
    left: 62px;
    top: 10px;
    padding: 0px;
    background-color: white;
}
#hotel__content--buy {
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
    background-color: white;
    width: 250px;
    height: 270px;
}
#hotel__content--buy p {
    font-size: 36px;
    color: #00ABD0;
    text-align: center;
    margin-top: 40px;
}
#buy-now {
    background-color: #EEB700;
    width: 190px;
    height: 60px;
    margin-left: 30px;
    display: inline-flex;
}
#buy-now img {
    width: 30px;
    height: 30px;
    margin: 15px 0px 15px 5px;
}
#buy-now p {
    color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-left: -20px;
}

.partner {
    border-top: 1px solid black;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
#tag_partner {
    margin-top: 50px;
    padding: 10px 0px 0px 50px;
    margin-left: 70px;
    font-size: 48px;
}
#partner__hotel {
    position: absolute;
    margin-left: 150px;
    top: 250px;
}
#partner__marriott {
    width: 390px;
    height: 180px;
    position: absolute;
    top: 100px;
    left: 700px;
}
#partner__marriott-partner {
    width: 400px;
    height: 280px;
    margin-left: 1100px;
    margin-top: 80px;
}
.partner ul {
    margin-left: 420px;
    width: 550px;
    position: absolute;
    top: 300px;
    list-style-type: none;  
}
.partner ul li {
    background-image: url(File/tag.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 35px;
    font-size: 18px;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    height: 420px;
    letter-spacing: 0.1em;
    position: relative;
}
  
#copyright {
    width: 100%;
    color: white;
    height: 20px;
    background: #363131;
    position: relative;
    top: -5px;
    padding: 1em 0 0.5em 5em;
}
  
#transparency {
    width: 100%;
    height: 376px;
    background: #000000;
    opacity: 0.7;
    position: absolute;
    top: 0;
}
  
.underline, .info__underline, .working-time__underline, .support__underline {
    width: 39%;
    height: 0.25em;
    background: white;
}
  
.title, .info__title, .working-time__title, .support__title, .connection__address strong, .connection__phone strong, .connection__email strong {
    font-size: 1.7em;
}
  
.info {
    width: 292px;
    height: 25%;
    position: absolute;
    top: 5%;
    color: white;
    left: 5%;
}
  
.info div {
    background: none;
    position: absolute;
    top: 4.5em;
}
  
.info div p {
    background: none;
    height: 2.5em;
    width: 100%;
    line-height: 1.5em;
    padding: 0em 1em 1em 1em;
}
  
.working-time {
    width: 292px;
    height: 25%;
    position: absolute;
    top: 5%;
    color: white;
    left: 30%;
}
  
.working-time ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4.5em;
}
  
.working-time ul li {
    display: inline-block;
}
  
.working-time ul p {
    background: none;
    height: 1em;
    padding: 0 1em 1em 1em;
}
  
.support {
    width: 150px;
    height: 25%;
    position: absolute;
    top: 5%;
    color: white;
    left: 55%;
}
  
.support div {
    position: absolute;
    top: 4.5em;
}
  
.support div p {
    background: none;
    height: 1em;
    width: 100%;
    line-height: 1.5em;
    padding: 0 1em 0.5em 1em;
}
  
.connection {
    width: 350px;
    height: 350px;
    color: white;
    position: absolute;
    top: 5%;
    left: 70%;
}
  
.connection__address p, .connection__phone p, .connection__email p {
    line-height: 1.5em;
}
  
.connection__address {
    position: absolute;
    left: 25%;
}
  
.connection__phone {
    position: absolute;
    top: 18%;
    left: 25%;
}
  
.connection__email {
    position: absolute;
    top: 39%;
    left: 25%;
}
  
  .connection hr {
    width: 100%;
    height: 0.1em;
    background: white;
    position: absolute;
    top: 60%;
  }
  
  .connection > p {
    position: absolute;
    top: 70%;
  }
  
  .ti-location-pin, .ti-mobile, .ti-email {
    font-size: 1.9em;
  }
  
  .ti-location-pin {
    position: absolute;
    left: 10%;
  }
  
  .ti-mobile {
    position: absolute;
    top: 18%;
    left: 10%;
  }
  
  .ti-email {
    position: absolute;
    top: 39%;
    left: 10%;
  }
  
  .ti-facebook {
    position: absolute;
    top: 70%;
    left: 55%;
  }
  
  .ti-google {
    position: absolute;
    top: 70%;
    left: 65%;
  }
  
  .ti-linkedin {
    position: absolute;
    top: 70%;
    left: 75%;
  }