html::-webkit-scrollbar {
    display: none;
}

body {
    padding: 40px 65px;
    width: 1085px;
    margin: 0 auto;
    border: 1px solid black;
}


.img__center {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    text-align: center;
}

