* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
}
header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.header_menu {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#header_menu__nav {
    margin-left: 300px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: -3px;
}
#logo_header {
    width: 1520px;
}

/* header menu ipad */
.header_menu--ipad {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
 #header_menu__nav--ipad {
    margin-left: 10px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu--ipad a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu--ipad a:hover {
    color: #0047FF;
}
.header_menu--ipad ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu--ipad  ul li {
    display: inline-block;
}
.header_menu--ipad  ul li:hover {
    color: #0047FF;
}
.header_menu--ipad  ul li:hover ul {
    display: block;
}
.header_menu--ipad  ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu--ipad  ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu--ipad ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

.header_menu--ipad #sign_in {
    font-size: 15px;
    margin-left: 1em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.header_menu--ipad #sign_in:hover{
    color: #484848;
}

.header_menu--ipad #sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header_menu {
        display: none;
    }
    
}
@media only screen and (min-width: 768px) {
    .header_menu--ipad {
        display: none;
    }
}
#h_p1 {
    position: absolute;
    color: white;
    font-size: 4em;
    top: 2.5em;
    left: 15em;
    padding-right: 2em;
    border-bottom: 5px solid white;
}

#h_p2 {
    position: absolute;
    color: white;
    font-size: 3em;
    width: 40%;
    top: 5em;
    left: 20em;
}

#h_link {
    position: absolute;
    border: 2px solid white;
    font-size: 2em;
    padding: 5px;
    top: 11.5em;
    left: 30em;
}

#h_link a {
    text-decoration: none;
    color: white;
}

#h_link a:active {
    color: rgb(57, 57, 247);
    background-color: rgb(235, 235, 255);
}

.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
} 

iframe {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#overlay-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


body .banner {
    width: 100%;
}


main {
    width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 50%;
    justify-content: space-evenly;
    margin: 50px 0;
}

main .contact-information{
    border: grey solid 2px;
    border-radius: 5px;
}

main  .title{
    max-width: 100%;
    height: 3em;
    background: #D3E8F0;
    border-radius: 5px 5px 0 0;
    padding: 10px 0 0 50px;
}


main .contact-information .information{
    max-width: 100%;
    padding: 0 10px;
}



.information *{
    margin: 10px 0;
}

.information div{
    height: 50px;
    display: flex;
    align-items: center;
}

.information img{
    float: left;
}

.information div>p{
    margin-left: 20px;
}

.information .social-icon{
    display: flex;
    justify-content: center;
}

.information .social-icon img{
    margin: 10px;
}

main .feedback-form{
    border: grey solid 2px;
    border-radius: 5px;
}

.feedback-form .form{
    max-width: 100%;
    padding: 0 150px;
    margin-top: 100px;
}

.feedback-form .form .required-field{
    color: red;
}

.form div{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.form input[type=text]{
    width: 200px;
    height: 30px;
    text-indent: 5px;
}

.form div>textarea{
    width: 200px;
    height: 100px;
    text-indent: 5px;
    padding-top: 5px;
}

.form input[type=submit]{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: rgb(68, 68, 233);
    color: #f1f1f1;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
    border: none;
}

.form input[type=submit]:hover{
    cursor: pointer;
    background: rgb(107, 107, 255);
}


/* Footer CSS */

 
footer h2{
    font-size: 1.5em;
    
}

footer {
  max-width: 100%;
  height: auto;
  letter-spacing: 0.1em;
  position: relative;
  font-size: 20px !important;
}

footer .transparent-shape{
    width: 100%;
    height: 484px;
    background: #363131;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

footer .content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: rgb(238, 234, 234);
    display: grid;
    grid-template-columns: 20% 20% 10% 26%;
    justify-content: space-evenly;
    grid-row-gap: 100px;
    background: #363131;
}

footer .content .information>h2, .working-time>h2, .support>h2{
    margin: 10px auto;
}

#information, #working-time, #contact, #support{
    width: 100%;
}

footer .content .information>p, .working-time>p, .support>p{
    margin: 10px auto;
   line-height: 1.2em;
}


footer .content .contact p{
    margin: 10px auto;
}

footer .ti-location-pin, .ti-mobile, .ti-email{
    font-size: 1.5em;
    float: left;
    margin: 10px;
}

footer .content .contact>p{
    float: left;
}

footer .contact>hr{
    height: 2px;
    max-width: 100%;
    background-color: rgb(238, 234, 234);
    margin: 20px auto;
}

footer .icon{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

footer .ti-facebook, .ti-google, .ti-linkedin{
    
    position: relative;
    top: 10px;
}

#copyright {
  max-width: 100%;
  color: rgb(238, 234, 234);
  position: relative;
  padding: 20px 0 20px 100px;
  z-index: 1;
  grid-column: 1/5;
}

@media only screen and (max-width: 768px){
  footer .content{
      display: grid;
      grid-template-columns: 40% 40%;
      grid-row-gap: 50px;
  }

  footer .transparent-shape{
      height: 900px;
  }
  
  #information , #working-time , #support , #contact {
      width: 100%;
  }

  footer .content .contact>p{
      float: none;
  }

  #copyright{
     top: 0;
      grid-column: 1/3;
  }
}

/*# sourceMappingURL=footer.css.map */


@media only screen and (max-width: 768px){
    
    body{
        width: 768px;
    }

    main {
        width: 768px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 75%;
        justify-content: space-evenly;
        grid-row-gap: 50px;
    }

    .feedback-form .form{
        max-width: 100%;
        padding: 0 90px;
    }

    main .feedback-form{
        height: 700px;
    }
}