* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    background-color: white;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    font-size: 14px !important;
}


.header_menu a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}

.header_menu ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.header_menu ul li {
    display: inline-block;
}

.header_menu ul li:hover {
    color: #0047FF;
}

.header_menu ul li:hover ul {
    display: block;
}

.header_menu ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

.header_menu ul li ul li {
    background: white;
    display: block;
}

.header_menu ul li ul li a {
    display: block !important;
    margin: 1px 0px 1px 0px;
}


#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

iframe{
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  #overlay-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
}

#logo_uitour {
    position: absolute;
    left: 10rem;
    top: 0.7rem;
}

#logo_header {
    width: 100%;
    height: 439px;
}

#h_p1 {
    position: absolute;
    color: white;
    font-size: 4em;
    top: 2.5em;
    left: 15em;
    padding-right: 2em;
    border-bottom: 5px solid white;
}

#h_p2 {
    position: absolute;
    color: white;
    font-size: 3em;
    width: 40%;
    top: 5em;
    left: 20em;
}

#h_link {
    position: absolute;
    border: 2px solid white;
    font-size: 2em;
    padding: 5px;
    top: 11.5em;
    left: 30em;
}

#h_link a {
    text-decoration: none;
    color: white;
}

#h_link a:active {
    color: rgb(57, 57, 247);
    background-color: rgb(235, 235, 255);
}

.Header__title {
    width: 1300px;
    height: 176px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    bottom: 180px;
}

.Header__title p {
    font-size: 36px;
    z-index: 3;
    color: white;
    position: absolute;
    padding-top: 5%;
    padding-left: 20%;
}

.Header__title--layer {
    background-color: #000000;
    opacity: 60%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}


.article__wapper {
    max-width: 1293px;
    height: auto;
    position: relative;
    bottom: 160px;
    margin: 0 auto;
}

.wapper__intro {
    width: 930px;
    height: auto;
}

.wapper__intro--infor {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.wapper__inTour {
    background-color: #E7B400;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 55px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.wapper__inTour:active {
    background-color: #b18b02;
}

.wapper__inTour img {
    width: 29px;
    height: 27px;
    flex: 2;
}

.wapper__inTour p {
    margin-left: 25px;
}

.wapper__gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 935px;
    margin-top: 30px;
}

.wapper__gallery img {
    width: 281px;
    height: 281px;
    margin-bottom: 30px;
    transform: scale(1, 1);
    transition: transform 0.5s;
    /* vendorless fallback */
    -o-transition: transform 0.5s;
    /* opera */
    -ms-transition: transform 0.5s;
    /* IE 10 */
    -moz-transition: transform 0.5s;
    /* Firefox */
    -webkit-transition: transform 0.5s;
    /*safari and chrome */
}

.wapper__gallery img:hover {
    transform: scale(1.1, 1.1);
    transition: transform 1s;
}

.wapper__content__nav button {
    border: none;
    background-color: #EAEDF0;
    cursor: pointer;
    width: 281px;
    height: 52px;
    border-radius: 10px;
    font-size: 24px;
    transition: color 0.3s;
    transition-timing-function: ease-in;
}

.wapper__content__nav button:hover {
    color: #FB7311;
}

#wapper__content__nav--selected {
    border: solid 3px Black;
    color: #FB7311;
}

.wapper__content--hr {
    height: 3px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
}

.wapper__content--content {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.5;
    max-width: 930px;
}

.day1 {
    margin-top: 30px;
}

.day1--title {
    font-size: 24px;
}

.img__center {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.wapper__hidden__content {
    display: none;
}

.danhgiachung {
    max-width: 935px;
    height: 419px;
    position: relative;
    margin-top: 60px;
}

.danhgia__title {
    width: 507px;
    height: 45px;
    background-color: #FEC400;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    position: absolute;
    left: 20%;
    top: -6%;
}

.danhgia__voting {
    border: 1px solid black;
    border-radius: 31px;
    height: 394px;
    display: flex;
    box-sizing: border-box;
}

.dalat_danhgia_hihi {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 600px;
}

#dalat_danhgia {
    width: 258px;
    height: 258px;
    margin: auto auto auto 0;
    margin-left: 5%;
}

.hihiandhehe {
    position: absolute;
}

.voting {
    width: 527px;
    height: 19px;
    background-color: #C4C4C4;
    margin: 20px 0px 20px 0px;
}

.full__voting {
    background-color: #FEC400;
}

.count_voting {
    background-color: #FEC400;
    width: 130px;
    height: 51px;
    border-radius: 10px;
    font-size: 18;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 620px;
}

#fivesao_img {
    width: 221px;
    height: auto;
    position: absolute;
    top: -20px;
}

.count_voting p {
    padding: 15px;
}

.dalat_danhgia_hehe {
    padding-top: 130px;
    padding-left: 370px;
}

.dalat_danhgia_hihi {
    top: 0;
    padding-left: 480px;
}

.huhu {
    position: relative;
    left: -40px;
}

.dalat_danhgia_hihi .huhu {
    top: 83px;
    left: -130px;
}

.danhgiachung__comment {
    width: 936px;
    height: 176px;
    position: relative;
    box-sizing: border-box;
}

.danhgiachung__comment__infor {
    position: absolute;
    width: 100%;
    height: 100%;
}

.danhgiachung__comment__infor p {
    position: absolute;
}

.fivesao_img--local {
    position: absolute;
    top: -105px !important;
    left: 200px;
}

.danhgiachung__comment__content {
    position: absolute;
    bottom: 0;
    border: 1px solid;
    border-radius: 10px;
    width: 936px;
    height: auto;
    padding: 20px;
    bottom: 50px;
}

.btn_insert {
    width: 935px;
    display: flex;
    justify-content: space-around;
}

.btn_insert button {
    border: none;
    background-color: #F3D100;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

iframe {
    overflow: hidden;
}
iframe::-webkit-scrollbar {
    display: none;
}

.InTour__PDF {
    overflow: hidden;
    position: fixed;
    width: 78vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    display: none;
}

.overlay_pdf{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    overflow: hidden;
}

.Dulich_Help {
    position: fixed;
    width: 295px;
    height: 158px;
    border: 1px solid #0066FF;
    z-index: 1;
    background-color: white;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}

.Dulich_Help p {
    margin-top: 10px;
    margin-left: 20px;
}

#help_support {
    font-size: 18px;
    font-weight: 700;
    color: #0066FF;
}

.infor {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.infor img {
    width: 14px;
    height: 13px;
}

.Dulich_Help button {
    width: 183px;
    height: 29px;
    margin-left: 40px;
    background-color: rgba(0, 102, 255, 0.8);
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#bookingForm {
    width: 769px;
    height: 572px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f1f1f1;
    z-index: 10;
    display: none;
}

#bookingForm h1 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 27px;
    padding-top: 27px;
}

.bookTourInfor__cus {
    position: absolute;
    right: 65px;
    top: 77.5px;
    float: right;
}

.bookTourInfor img {
    width: 316px;
    height: 283px;
    margin-left: 36px;
}

.bookTourInfor__detail {
    margin-left: 100px;
    margin-top: 20px;
}

.bookTourInfor__cus input[type=text] {
    width: 293px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    border: none;
    margin-bottom: 34px;
    margin-top: 8px;
}

.bookTourInfor__cus input[type=submit] {
    width: 249px;
    height: 65px;
    background-color: #0066FF;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 44px;
    cursor: pointer;

}


/*re*/
.responseBox {
    width: 604px;
    height: 240px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    /* display: none; */
    z-index: 20;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hidden {
    display: none;
}

.responseBox img {
    height: 48px;
    width: 48px;
    top: 38px;
    left: 113px;
    position: absolute;
}

.responseBox_tittle {
    display: flex;
}


.responseBox_tittle p  {
    left: 180px;
    position: absolute;
    margin-top: 50px;
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4988DB;
}

.responseBox--message {
    width: 554px;
    height: 42px;
    text-align: center;
    position: absolute;
}

p.responseBox--message {
    text-align: center;
    left: 25px;
    top: 125px;
    font-size: 18px;
}

.responseBox--background {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    z-index: 3;
}

.user_comment {
    width: 900px;
    left: 75px;
    min-height: 200px;
    position: relative;
}

.user_comment p {
    position: relative;
    font-weight: 700;
    left: 85%;
    margin-bottom: 10px;
}

.user_comment textarea {
    max-width: 900px;
    min-height: 130px;
    width: 900px;
    margin-bottom: 10px;
}

.user_comment input {
    position: relative;
    left: 85%;
    padding: 10px;
    background-color: #F3D100;
    border: none;
    border-radius: 10px;
    width: 100px;
    font-weight: 600;
}

.comment__warning {
    width: 508px;
    margin: 0 auto;
    height: 88px;
    border-radius: 20px;
    background-color: #F3D100;
    position: fixed;
    z-index: 10;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.comment__warning img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 25%;
    left: 10%;
}

.comment__warning p {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #FF0000;
    top: 35%;
    left: 20%;
}