*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    max-width: 1500px;
    overflow-x: auto;
}
label{
    font-size: 18px;
}
.div--css{
    margin-left: 150px;
}

.search-create{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 40px;
}
.form--css{
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
table thead tr{
    position: sticky;
    top: 0;
    background-color: #0066FF;
    color: #fff;
}
.table-overflow{
    width: 1000px;
    height: 400px;
    margin-left: 30px;
    overflow-y: auto;
    margin-top: 20px;

}
.table-overflow th, td{
    max-width: 150px;
    word-wrap: break-word;
}
table{
    counter-reset: tableCount;
}

.counterCell::before {
    content: counter(tableCount);
    counter-increment: tableCount;
}