*{
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}



#background{
    width: 100%;
    
}


.header_menu {
    margin-left: 300px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}
.header_menu a:hover {
    color: #0047FF;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: 0.7rem;
}
#logo_header {
    width: 100%;
}
#h_p1 {
    position: absolute;
    color: white;
    font-size: 4em;
    top: 2.5em;
    left: 15em;
    padding-right: 2em;
    border-bottom: 5px solid white;
}
#h_p2 {
    position: absolute;
    color: white;
    font-size: 3em;
    width: 40%;
    top: 5em;
    left: 20em;
}
#h_link {
    position: absolute;
    border: 2px solid white;
    font-size: 2em;
    padding: 5px;
    top: 11.5em;
    left: 30em;
}
#h_link a {
    text-decoration: none;
    color: white;
}
#h_link a:active {
    color: rgb(57, 57, 247);
    background-color: rgb(235, 235, 255);
}

.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
}

iframe{
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
  }
  #overlay-background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  main{
      width: 100%;
      margin: 0 auto;
  }

  main .information{
      display: grid;
      grid-template-columns: 30% 50%;
      justify-content: space-evenly;
      padding: 50px 100px;
      align-items: center;
      height: 300px;
  }

  main .information *{
      width: 100%;
  }

  main .feature{
      height: 300px;
      display: grid;
      grid-template-columns: 250px 250px 250px;
      justify-content: space-evenly;
      background: #f1f1f1;
      padding: 50px;
  }

  main .feature div{
      text-align: center;
  }

  main .feature div>p{
      margin: 50px auto;
  }

 main .reason-for-choice{
   position: relative;
   height: 604px;
 }

 main .reason-for-choice>img{
     position: relative;
     width: 100%;
 }

 main .reason-for-choice .transparent-shape{
     height: 100%;
     width: 100%;
     background: black;
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0.5;
     z-index: 2;
 }

 main .reason-for-choice .content{
     position: absolute;
     left: 0;
     top: 0;
     z-index: 3;
     color: white;
     display: grid;
     grid-template-columns: 200px 200px 200px;
     text-align: center;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     margin: 100px auto;
 }

 main .reason-for-choice .content *{
     margin: 25px 0;
 }

 main .reason-for-choice .content div:nth-of-type(1){
     grid-column: 1/4;
     font-size: 35px;
     font-weight: bold;
 }

 main .staffs{
     display: grid;
     width: 100%;
     grid-template-columns: 220px 220px;
     justify-content: space-evenly;
     margin: 50px auto;
     text-align: center;
    }

 main .staffs>p{
     grid-column: 1/3;
     margin: 0 20px 20px 30px;
     font-size: 35px;
     font-weight: bold;
 }


  @media only screen and (max-width: 768px){
      body{
          max-width: 100vw;
         
      }
    main .information, main .feature, main .reason-for-choice .content, main .staffs{
        display: grid;
        grid-template-columns: 75%;
        height: auto;
       
    }

    main .information, main .staffs{
        grid-row-gap: 50px;
    }

    main .reason-for-choice .content div:nth-of-type(1), main .staffs>p{
        grid-column: 1/2;
    }

    main .reason-for-choice .transparent-shape{
        display: none;
    }

    main .reason-for-choice>img{
        display: none;
    }

    main .reason-for-choice{
        background-color: rgb(36, 33, 33);
        height: 1100px;
    }
   

  }
