* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
}

.searchBar img {
    width: 36px;
    height: 36px;
}

.searchBar {
    display: flex;
    width: 1146px;
    height: 96px;
    box-shadow: 3px 7px 8px #dedede;
}

.searchBar__location {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 96px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
}

.searchBar__location--input {
    display: flex;
}
#location__input {
    border: none;
    outline: none;
}


.searchBar__date {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 96px;
    flex: 2;
    background-color: white;
    border-right: 1px solid #DEDEDE;
    text-align: center;
}

.searchBar__date--input {
    display: flex;
    margin-left: 48px;
}

.searchBar__date--input input {
    border: none;
    padding-top: 10px;
}

.searchBar__date--input input {
    outline: none;
}

.number_box-decor {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 25px;
    display: none;
    background-color: transparent !important;
}

.number_box-decor.active {
    display: block;
}

.treemPlus {
    margin-left: 20px;
}

.searchBar__tour {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 76px;
    flex: 2;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DEDEDE;
    padding-top: 10px;
    position: relative;
}

#tour__input {
    margin-top: 7px;
    border: none;
    outline: none;
    width: 120px;
}

.searchBar__tour--input {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.searchBar__button {
    width: 163.72px;
    height: 96px;
    flex: 1;
    background-color: #3FD0D4;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.searchBar__location--img {
    margin-right: 20px;
}

.searchBar__date--img {
    margin-right: 20px;
}

.searchBar__tour--img {
    margin-right: 20px;
}

.autobox {
    position: absolute;
    top: 100px;
    width: 200px;
    position: absolute;
    background-color: #FFFEFE;
    color: rgba(51, 51, 51, 0.8);
    overflow-y: auto;
    box-shadow: 3px 7px 8px #dedede;
}

.autobox li {
    list-style: none;
    padding: 6px 0 6px 36px;
    cursor: pointer;
    width: 60%;
    display: none !important;
    margin-left: 10px;
}

.autobox li:hover {
    color: #0066FF;
    /* border-bottom: 1px solid #0066FF; */
}
.autobox.active li {
    display: block !important;
}

.number-box {
    position: absolute;
    top: 100px;
    width: 250px;
    position: absolute;
    background-color: #FFFEFE;
    color: rgba(51, 51, 51, 0.8);
    overflow-y: auto;
    box-shadow: 3px 7px 8px #dedede;
}

.treemMinus {
    cursor: pointer;
}

.treemPlus {
    cursor: pointer;
}

.number-box li {
    list-style: none;
    padding: 6px 0 6px 36px;
    cursor: pointer;
    width: 60%;
    display: none !important;
    margin-left: 10px;
}

#decor_number_box {
    display: flex;
    justify-content: space-between;
}

.number-box.active li:hover {
    display: flex !important;
}

.number-box.active li {
    display: flex !important;
}

.fa-times {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
