*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: "OpenSansCondensed-Bold";
    src: url(/OpenSansCondensed-Bold.ttf);
}
body{
    
    background: #fff;
}
html
{
    font-family: OpenSansCondensed-Bold, sans-serif;
    font-size: 10px;
}
.section1{
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #000;
    
}
.section1__heading
{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    color: #180A64;
    padding: 50px 0 30px 0;
}
.section1__list
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 20px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6em;
    
}

/*section2*/

.section2{
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #000;
}

.section2__slideshow{
    width: 1085px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
 
.slide__wapper .slides img
{
    width: 1085px; 
    
}

.slides{
    display: none;
}


.dot
{
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.section2__cricle{
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.active, .dot:hover{
    background-color: #515151;
    cursor: pointer;
}

