*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    max-width: 100%;
}

/* CSS img */

.main-container{
    width: 853px;
    margin-left: 40px;
    margin-bottom: 80px;
}
.main-container__heading .heading-title
{
    font-size: 2.4em;
    font-weight: 400;

    margin-bottom: 0.2em;
}
.main-container__heading .heading-container__icon
{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 30px;
    padding: 0.6em 0 0.5em 0;
    color: #8F8F8F;
}
.main-container__heading  .element-icons:first-child
{
    margin-right: 30px;
}
.main-container__heading .element-likeshare
{
    font-size: 1em;
    width: 100px;
    height: 20px;
    line-height: 15px;
    background: rgba(0, 96, 241, 0.75);
    border-radius: 5px;
    color: #fff;
    padding: 0.2em 0.3em;
}
.element-likeshare label {
    padding-right: 10px;
    padding-left: 2px;
}
.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
}
.element-likeshare:last-child{
    width: 85px;
}
.main-container__borderbottom{
    width: 829px;
    border: 1px solid #CBD3DB ;
    margin: 0.5em 0 2em 0;
}
.grid-wapper{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    padding: 2em 0 1em 0;
}
.grid-wapper .img-item1{
    width: 438px;
    height: 500px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-wapper .img-item2{
    width: 384px;
    height: 248px;
   
}
.grid-wapper .img-item3{
    width: 384px;
    height: 231px;
   
}
.main-container__content > p > i {
    text-align: center;
}
.main-container .main-container__ul {
    
    margin-left: 3em;
    padding-top: 0.5em;
}
.main-container  p,  .main-container__li {
    font-size: 1.8em;
    padding: 0.2em 0;
    letter-spacing: 0.5px;
    text-align: justify;
}
.main-container__title{
    font-size: 2.4em;
    font-weight: 600;
    color: #3399FF;
    padding: 1em 0 0.2em 0;
}
.main-container .src-img{
    text-align: center;
}
.main-container .single-img{
    width: 853px;
    height: 500px;
    padding: 3em 0 0.3em 0;
}