* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    background-color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1520px;
    margin: 0 auto;
}
header {
    position: relative;
    width: 1520px;
    margin: 0 auto;
}
.header_menu {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#header_menu__nav {
    margin-left: 300px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: -3px;
}
#logo_header {
    width: 1520px;
}

/* header menu ipad */
.header_menu--ipad {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
 #header_menu__nav--ipad {
    margin-left: 10px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu--ipad a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu--ipad a:hover {
    color: #0047FF;
}
.header_menu--ipad ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu--ipad  ul li {
    display: inline-block;
}
.header_menu--ipad  ul li:hover {
    color: #0047FF;
}
.header_menu--ipad  ul li:hover ul {
    display: block;
}
.header_menu--ipad  ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu--ipad  ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu--ipad ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

.header_menu--ipad #sign_in {
    font-size: 15px;
    margin-left: 4em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.header_menu--ipad #sign_in:hover{
    color: #484848;
}

.header_menu--ipad #sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header_menu {
        display: none;
    }
    
}
@media only screen and (min-width: 768px) {
    .header_menu--ipad {
        display: none;
    }
}