* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    background-color: white;
}
body {
    width: 1520px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
header {
    width: 1520px;
    position: relative;
}
.header_menu {
    background-color: white;
    position: absolute;
    width: 1520px;
    right: 0px;
}
#header_menu__nav {
    margin-left: 300px;
}
.nav_tick {
    margin-bottom: 10px;
}
.header_menu a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 20px;
  display:inline-block;
}

.header_menu a:hover {
    color: #0047FF;
}
.header_menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.header_menu ul li {
    display: inline-block;
}
.header_menu ul li:hover {
    color: #0047FF;
}
.header_menu ul li:hover ul {
    display: block;
}
.header_menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.header_menu ul li ul li { 
  background: white; 
  display: block; 
}
.header_menu ul li ul li a {
    display:block !important;
    margin: 5px 0px -4px 0px;
} 

#sign_in {
    font-size: 15px;
    margin-left: 5em;
    border-radius: 5em;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#sign_in:hover{
    color: #484848;
}

#sign_up {
    background-color: rgb(64, 64, 255);
    color: white;
    font-size: 15px;
    border-radius: 5em;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#logo_uitour {
    position: absolute;
    left: 10rem;
    top: 10px;
    width: 120px;
}
#logo_header {
    width: 1520px;
}

#overlay {
    position: relative;
    z-index: 100;
}

.user_infor {
    width: 500px !important;
    position: relative !important;
    left: 850px !important;
    bottom: 55px !important;
}
 #user_infor_id {
    position: absolute !important;
    width: 8% !important;
}
.user_infor p {
    position: absolute !important;
    left: 50px !important;
    top: 10px !important;
}

.dang_xuat {
    position: absolute !important;
    left: 130px !important;
}

.itemSelected {
    border-bottom: 3px solid rgb(64, 64, 255);
    border-radius: 1px;
    color: rgb(64, 64, 255) !important;
}